<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="card col-12 col-md-12"  >
     <h5 class="card-title centerer"> 
        <span class="glyphicon glyphicon-earphone"></span>Qui sommes nous?</h5>
        <div class='centerer'> <img src="assets/who.JPG" class="card-img-top card-img-who " alt="..."/>
    </div>
       
      <div class="card-body">   
        <p class="card-text ">Le Cabinet est composé de deux infirmières diplomées d'état, Anaïs Lamarre et Sandrine Terrien</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-12 col-md-4"  >
      <img src="assets/telephone.png" class="card-img-top img-card-info" alt="...">
      <div class="card-body">
        <h5 class="card-title"> 
        <span class="glyphicon glyphicon-earphone"></span> 	Nous appeler</h5>
        <p class="card-text">Vous pouvez nous appeler 24/24H et 7/7j, au 06.66.76.68.64</p>
        <a href="tel:+33666766864" class="btn btn-primary"> <span class="glyphicon glyphicon-earphone"></span>Clickez ici pour nous appeler</a>
      </div>
    </div>
    <div class="card col-12 col-md-4" >
      <img src="assets/gps.png" class="card-img-top img-card-info" alt="...">
      <div class="card-body">
        <h5 class="card-title"> 
      Nous trouver</h5>
        <p class="card-text">38 Rue des Forges, 44690 Monnières</p>
        <a href="https://www.google.com/maps/place/38+Rue+des+Forges,+44690+Monni%C3%A8res/@47.1296279,-1.3595957,17z/data=!3m1!4b1!4m5!3m4!1s0x4805e082c8e6cb8f:0x74d0b3675a031d4f!8m2!3d47.1296279!4d-1.357407" class="btn btn-primary card-buton">S'y rendre avec Maps</a>
      </div>
    </div>
    <div class="card col-12 col-md-4" >
      <img src="assets/mail.png" class="card-img-top img-card-info" alt="...">
      <div class="card-body">
        <h5 class="card-title"> 
      Envoyer un mail</h5>
        <p class="card-text">Communiquez avec nous directement par mail : </p>
        <a href="#" class="btn btn-primary card-buton">Nous contacter</a>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="card col-12 col-md-12" >
      <!--<img src="https://i.pinimg.com/originals/bb/0f/89/bb0f89414fceae8a144d3201196fc4cb.jpg" class="card-img-top" alt="...">
      --><div class="card-body">
        <h5 class="card-title"> 
      Nos horaires</h5>
        <p class="card-text">La permance du cabinet est ouverte en suivant les horaires ci-dessous</p>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Jour</th>
          <th scope="col">Matin</th>
          <th scope="col">Aprés midi</th>
        
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Lundi</th>
          <td>8h-8h30</td>
          <td>/</td>
        </tr>
        <tr>
          <th scope="row">Mardi</th>
          <td>8h-8h30</td>
          <td>/</td>
        </tr>
        <tr>
          <th scope="row">Mercredi</th>
          <td>8h-8h30</td>
          <td>/</td>
        </tr>
        <tr>
          <th scope="row">Jeudi</th>
          <td>8h-8h30</td>
          <td>/</td>
        </tr>
        <tr>
          <th scope="row">Vendredi</th>
          <td>8h-8h30</td>
          <td>/</td>
        </tr>
        <tr>
          <th scope="row">Samedi</th>
          <td>Sur rendez-vous</td>
          <td>Sur rendez-vous</td>
        </tr>
        <tr>
          <th scope="row">Dimanche</th>
          <td>/</td>
          <td>/</td>
        </tr>
        </tbody>
      </table>	
        <a href="#" class="btn btn-primary invisible">Imprimer les horaires</a>
      </div>
    
    </div>
    </div>
    </div>


<div class="container">
  <ngb-tabset>
    <ngb-tab title="Simple">
      <template ngbTabContent>
        <p>This is the content of the first tab!</p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> This is an alert!
        </ngb-alert>
      </template>
    </ngb-tab>
    <ngb-tab>
      <template ngbTabTitle><b>Fancy</b> title</template>
      <template ngbTabContent>
        <p>This is the content of the second tab!</p>
        <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p>
        <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
        <p><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></p>
        <p><ngb-progressbar type="danger" [value]="100"></ngb-progressbar></p>
      </template>
    </ngb-tab>
    <ngb-tab title="Disabled" [disabled]="true">
      <template ngbTabContent>
        <p>This tab is disabled</p>
      </template>
    </ngb-tab>
  </ngb-tabset>
</div>
<router-outlet></router-outlet>
